<mat-toolbar color="primary" class="mb-4">
  <mat-toolbar-row class="mat-elevation-z4 active">
    <div class="row mx-0 w-100">
      <span class="me-auto col col-auto d-flex justify-content-center align-items-center">Weather-Forecast</span>
      <button
        class="col col-auto"
        (click)="openSearch()"
        mat-icon-button
        color="white"
        title="Search Location"
        aria-label="Search Location"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="mat-elevation-z4 search-block">
    <form class="row mx-0 w-100">
      <app-weather-search></app-weather-search>
      <button mat-icon-button (click)="closeSearch()" color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
