mat-toolbar {
  position: relative;
  overflow: hidden;

  mat-toolbar-row {
    &.active {
      width: 100%;
    }
  }
}

.search-block {
  background: #fff;
  position: absolute;
  transition: all 0.33s ease-in;
}
