<mat-toolbar color="primary" class="mb-4">
  <mat-toolbar-row class="mat-elevation-z4 active">
    <div class="row mx-0 w-100">
      <span class="me-auto col col-auto d-flex justify-content-center align-items-center">Weather-Forecast</span>
      <button
        class="col col-auto"
        (click)="toggleSearch()"
        mat-icon-button
        color="white"
        title="Search Location"
        aria-label="Search Location"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row [@openClose]="isSearchOpen ? 'open' : 'closed'" class="mat-elevation-z4 search-block">
    <form class="row mx-0 w-100">
      <button class="search-icon" mat-icon-button disabled aria-disabled="true">
        <mat-icon>search</mat-icon>
      </button>
      <app-weather-search class="col flex-grow-1"></app-weather-search>
      <button mat-icon-button (click)="toggleSearch()" color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
