mat-toolbar {
  position: relative;
  overflow: hidden;

  mat-toolbar-row {
    &.active {
      width: 100%;
    }
    &:not(.active) {
      opacity: .5;
      overflow: hidden;
      left: 100%;
      position: absolute;
    }
  }
}

.search-block {
  background: #fff;
  position: absolute;
  transition: all 0.33s ease-in;

  .search-control {
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}
