mat-toolbar {
  position: relative;
  /* Clip Margin fixes overflow-hidden bug */
  overflow: clip;
  overflow-clip-margin: 0;

  mat-toolbar-row {
    &.active {
      width: 100%;
    }
  }
}

.search-block {
  background: #fff;
  position: absolute;
  transition: all 0.33s ease-in;
}
